body{
  font-family:Arial;
}
header{
  height:5em;
  width:100%;
}
div{
  background-color:#4E90ED;
  padding-left:0em;
  padding-right:0em;
  height:2em;
  width:2em;
  border-radius:.25em;
  margin:auto;
}
div.box{
  height:9em; 
  width:54em; 
  text-align:center;
}
p{
  font-size:1em;
}
h1{
  vertical-align:middle;
  font-size:3em;
  text-align:center;
}
