body{
	font-family:Arial;
	color: #0E0E0E;
	background-color:#FCFCFC;
}

div{
	overflow: auto;
}

div.main{
	width: 85%;
	height: 100%;
	margin: auto;
}

div.maincontent{
	float: left;
	max-width: 70%;
	height: 100%;
	margin: 1%;
	min-width: 320px;
}

div.sidebarcontent{
	float: left;
	max-width: 20%;
	height: 100%;
	margin: 1%;
	min-width: 320px;
}

div.content{
	background-color: #EEF0F0;
	padding: 1%;
}
	
div.landingheader{
	width: 100%;
	height: 250px;
	background-color: #5D737E;
	margin: 0px;
	
}

div.head{
	width: 100%;
	height: 200px;
	background-color: #5D737E;	
}

div.footer{
	background-color: #5D737E;
	width: 100%;
	height: 100px;
}
/*
OLD CSS
body{
	font-family:Arial;
	background-color:#dce3ef;
	background-size: 100% 75em;
}
header{
	background-color:#144A96;
	height:45px;
	width:100%;
	position:fixed;
	z-index:1;
	left:0px;
	top:0px;
}
a:link{
}
a:visited{
}
a.link:hover{
}
img.icon{
	left:12px;
	top:8px;
	height:32px;
	width:32px;
	position:fixed;
}
div.head:hover{
	background-color:#C2E0ED;
}
div.head{
	height:1.5em;
	border-radius:4px;
	width:10em;
	position:fixed;
	left:12em;
	top:.5em;
	background-color:#9ACFE6;
}
div.box{
	height:9em; 
	width:54em; 
	text-align:center;
	background-color:#9ACFE6;
}
div.reg{
	padding-top:2.5em;
	padding-right:0em;
	padding-left:4em;
	margin:auto;
	margin-top:5em;
	height:40em;
	width:70em;
	background-color:#9ACFE6;
	opacity: 1;
}
div.content{
	height:.0001em;
	width:66em;
	background-color:none;
}
p{
	font-size:1.25em;
	text-indent:50px;

}
p.noIndent{
	text-indent:0px;
}
h1{
	font-size:20px;
	margin-top:.07em;
	vertical-align:top;
	text-align:center;
}
h2{
	font-size:30px;
}
table.programs{
	width:100%;
}
td.h2{
	font-size:h2;
}
td.p{
	font-size:1.25em;
}
*/
