/* General Styling*/
* {
	box-sizing: border-box;
	font-family:Arial;
}

.row::after {
	content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
	float: left;
   	padding: 15px;
    display: inline-block;
}
/*Header Styling*/
img.headerimg{
	float: left;
	margin-right: 0px;
	padding: 0px !important;
	max-height: 120px;
}

div.landingheader{
	background-color: #5D737E;
	padding: 0px !important;
    width: 100%;
    position: fixed;
}

div.navigationbar{
	
}

h1.header{
	font-size: 32px;
    text-align: center;
}

span.break{
    
    
}

/*Other Styling*/
body{
	color: #0E0E0E;
	background-color:#FCFCFC;
	margin: 0px;
}

div{
	overflow: auto;
	margin: auto;
}

div.content{
	background-color: #EEF0F0;
	padding: 15px;
}

div.footer{
	bottom: 0;
	background-color: #5D737E;
	height: 100px;
	text-align: center;
	font-size: 12px;
}

/* For Mobile */
[class*="col-"] {
	width: 100%;
}

[class*="sidebar"] {
	display: none;
    padding: 0px;
}

[class="break"] {
    display: block;
}

[class="headerimg"] {
	display: none;
    width: 
}
/* Differences for Desktop */
@media only screen and (min-width: 600px) {
	/* For Desktop: */
	.col-1 {width: 8.33%; display: block;}
	.col-2 {width: 16.66%;}
	.col-3 {width: 25%;}
	.col-4 {width: 33.33%;}
	.col-5 {width: 41.66%;}
	.col-6 {width: 50%;}
	.col-7 {width: 58.33%;}
	.col-8 {width: 66.66%;}
	.col-9 {width: 75%;}
	.col-10 {width: 83.33%;}
	.col-11 {width: 91.66%;}
	.col-12 {width: 100%;}
    
    [class*="sidebar"] {
        display: block;
        padding: 15px;
    }
    
    .headerimg{
		display: block;
	}
}

@media only screen and (min-width: 730px) {
    [class="break"] {
        display: inline;
    }
}
/*
OLD CSS
body{
	font-family:Arial;
	background-color:#dce3ef;
	background-size: 100% 75em;
}
header{
	background-color:#144A96;
	height:45px;
	width:100%;
	position:fixed;
	z-index:1;
	left:0px;
	top:0px;
}
a:link{
}
a:visited{
}
a.link:hover{
}
img.icon{
	left:12px;
	top:8px;
	height:32px;
	width:32px;
	position:fixed;
}
div.head:hover{
	background-color:#C2E0ED;
}
div.head{
	height:1.5em;
	border-radius:4px;
	width:10em;
	position:fixed;
	left:12em;
	top:.5em;
	background-color:#9ACFE6;
}
div.box{
	height:9em; 
	width:54em; 
	text-align:center;
	background-color:#9ACFE6;
}
div.reg{
	padding-top:2.5em;
	padding-right:0em;
	padding-left:4em;
	margin:auto;
	margin-top:5em;
	height:40em;
	width:70em;
	background-color:#9ACFE6;
	opacity: 1;
}
div.content{
	height:.0001em;
	width:66em;
	background-color:none;
}
p{
	font-size:1.25em;
	text-indent:50px;

}
p.noIndent{
	text-indent:0px;
}
h1{
	font-size:20px;
	margin-top:.07em;
	vertical-align:top;
	text-align:center;
}
h2{
	font-size:30px;
}
table.programs{
	width:100%;
}
td.h2{
	font-size:h2;
}
td.p{
	font-size:1.25em;
}
*/
